
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin gap-2 {
  gap: 2rem
}

@mixin align-center {
  align-items: center;
}

@mixin fraunces-bold {
  font-family: 'Fraunces';
  font-weight: var(--font-bold);
}

/* Header Styles */

.header {
  @include flex-column();
  background: url('/assets/images/mobile/image-header.jpg') no-repeat center;
  background-size: cover;
  min-height: 538px;
  padding: 1.5rem;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    @include align-center();
  }
  &-title {
    @include fraunces-bold();
    text-align: center;
    text-transform: uppercase;
    color: var(--neutral-white);
    letter-spacing: var(--heading-1-spacing);
    font-size: var(--heading-1);
    margin: 0;
    margin-top: 5.5rem 
  }
  &-arrow {
    align-self: center;
    margin-top: 2rem;
  }
}

/* Navigation Styles */

.nav {
  @include flex-column();
  @include align-center();
  &[aria-hidden='true'] {
    display: none;
  }
  &-wrapper {
    position: relative
  }
  &-list {
    @include gap-2();
    @include flex-column()
  }
  &-item {
    @include flex-column();
    @include align-center();
    justify-content: center;
    &__link {
      color: inherit;
      font-size: var(--nav-link);
      padding: .75rem 1rem;
      display: inline-block;
      &:hover {
        background-color: var(--primary-yellow);
        border-radius: 2.5rem;
        color: var(--neutral-v-dark-blue);
        text-transform: uppercase; 
      }
    } 
  }
  &-button {
    background-color: unset;
    border: none; 
  }
  &-hamburger {
    fill: var(--neutral-white) 
  }
  @media (min-width: 1026px) {
    position: unset;
    transform: none;
    left: auto;
    clip-path: none;
    border-image: none;
    margin: auto;
    border: none;
    min-height: auto;
    min-width: min-content;
    padding: 0;
    &-wrapper {
      position: initial;
    }
    &-list {
      gap: 2.35rem;
      flex-direction: row;
      padding: none;
      width: auto;
    }
    &-item {
      &__link {
        color: var(--neutral-white);
        padding: .25rem .75rem;
        &:hover {
          color: var(--neutral-white);
          background-color: rgba(255,255,255,0.25)
        }
      }
    }

    &-button {
      display: none
    }
  }
}

/* Main Content Section */

.content {
  &-wrapper,
  &-info__wrapper {
    @include flex-column();
  }
  &-wrapper {
    text-align: center;
  }
  &-image > img {
    width: 100%;
    display: block;
    height: 100%;
  }
  &-info__wrapper {
    padding: 1.5rem; 
  }
  &-title {
    @include fraunces-bold();
    font-size: var(--heading-2);
    color: var(--neutral-v-dark-blue);
    letter-spacing: -.014rem;
    margin-top: 2.5rem; 
  }
  &-blurb {
    font-weight: 700;
    color: var(--neutral-dark-grayish-blue);
    font-size: 1.125rem; 
  }
  &-learn-more__link {
    @include fraunces-bold();
    margin-top: .75rem;
    color: var(--neutral-v-dark-blue);
    text-transform: uppercase;
    letter-spacing: .0625rem;
    position: relative;
    align-self: center;
    &::before {
      content: '';
      position: absolute;
      width: 110%;
      height: .625rem;
      z-index: -1;
      border-radius: 1rem;
      bottom: .01rem;
      left: -.40rem; 
    }
    &--1::before {
      background-color: var(--primary-yellow);
    }
    &--2::before {
      background-color: var(--primary-red); 
    }
  }
  &-bg-image {
    &__wrapper {
      padding-bottom: 3.5rem;
      padding-top: 2rem; 
    }
    &__title {
      margin-bottom: 1.6875rem;
      color: var(--neutral-v-dark-blue);
      font-weight: 900; 
    }
    &--1,
    &--2 {
      @include flex-column();
      padding: 1.5rem;
      padding-top: 24.875rem; 
    }
    &--1 {
      background: url('/assets/images/mobile/image-graphic-design.jpg') no-repeat;
      background-size: cover;
    }
    &--2 {
      background: url('/assets/images/mobile/image-photography.jpg') no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: 1026px) {
    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      &--reverse {
        flex-direction: row-reverse;
      }
    }
    &-info__wrapper {
      gap: 1.5rem;
      text-align: left;
      padding: 0 5rem;
      padding-bottom: 2rem;
      align-self: center;
    }
  
    &-learn-more__link {
      align-self: flex-start;
    }
  
    &-image,
    &-bg-image--1,
    &-bg-image--2,
    &-info__wrapper {
      flex-basis: 50%;
    }
  
    &-bg-image--1 {
      background: url('/assets/images/desktop/image-graphic-design.jpg') center no-repeat;
      background-size: cover;
    }
    &-bg-image--2 {
      background: url('/assets/images/desktop/image-photography.jpg') center no-repeat;
      background-size: cover;
    }
  
    &-bg-image__wrapper {
      padding: 0  5rem 2.187rem 5rem;
    }
  }
}

/* Testimonials Section */

.testimonials {
  text-align: center;
  padding: 1.5rem;
  &-wrapper,
  &-card {
    @include flex-column();
    @include gap-2();
    @include align-center();
  }
  &-title {
    color: var(--neutral-dark-grayish-blue);
    text-transform: uppercase;
    padding: 2.5rem 0;
    letter-spacing: .25rem; 
  }
  &-card {
    padding-bottom: 4rem;
    &__info {
      color: var(--neutral-v-dark-grayish-blue);
      font-weight: 500; 
    }
    &__name {
      @include fraunces-bold();
      font-size: 1.125rem; 
    }
    &__title {
      color: var(--neutral-grayish-blue); 
    }
    & > img {
      border-radius: 50%;
      width: 4.5rem; 
    }
  } 
  @media (min-width: 1026px) {
    &-wrapper {
      flex-direction: row;
      max-width: 1120px;
      margin: 0 auto;
      gap: 1.5rem;
    }
  
    &-title {
      letter-spacing: .3125rem;
    } 
  }
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/* Footer section */

.footer {
  background-color: var(--primary-light-cyan);
  padding: 4rem 2.4375rem 5.5rem;
  &-wrapper {
    @include flex-column();
    @include align-center();
    max-width: 18.75rem;
    margin: 0 auto;
    gap: 2.5rem;
  }
  &-list {
    display: flex;
    &__item {
      & > a {
        color: var(--primary-moderate-cyan);
        font-weight: 700;
        fill: var(--primary-cyan) 
      }
      & > a:hover {
        color: var(--neutral-white);
        fill: var(--neutral-white) 
      }
    }
    &--links {
      gap: 3.5625rem
    }
    &--socials {
      gap: 1.75rem;
      margin-top: 2.75rem;
    }
  }
}

.attribution {
  display: block;
  margin: 1rem auto;
}



@media (min-width: 1026px){
  html {
    font-size: 20px;
  }

  .header {
    background-image: url('/assets/images/desktop/image-header.jpg');
  }
  .hero-wrapper {
    grid-template-columns: repeat(4,1fr);
  }

  #root {
    max-width: 1440px;
  }
}