:root {

   /* Colors */
  --primary-red: hsl(7,99%,70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-dark-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --primary-dark-blue: hsl(198, 62%, 26%); /* photography text */
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  --primary-light-cyan: hsl(168, 44%, 70%); /* footer */
  --primary-cyan: hsl(168, 45%, 32%);

  --neutral-v-dark-blue: hsl(212,27%, 19%);
  --neurtal-v-dark-grayish-blue: hsl(213, 9%, 39%);
  --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);

  /* Font */
  --font-regular: 500;
  --font-semi-bold: 700;
  --font-bold: 900;
  --heading-1: 2.5rem;
  --heading-2: 2rem;
  --heading-1-spacing: .391rem;
  --body-text: 1.125rem;
  --nav-link: 1.25rem


}

/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Barlow';
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  /* text-wrap: balance; */
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

#root {
  max-width: 515px;
  margin: 0 auto
}

.logo-color {
  fill: var(--neutral-white)
}

.footer-logo-color {
  fill: var(--primary-dark-cyan);
}